<ion-header translucent>
  <ion-toolbar>
    <ion-title class="subTitle">Encuesta</ion-title>
    <ion-buttons slot="start" *ngIf="isAdmin">
      <ion-button (click)="openMenu()"> <ion-icon name="menu-outline" color="dark" slot="icon-only"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-button slot="end" color="dark" (click)="logOut()">
      <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding gray"> <app-pregunta #ref></app-pregunta> </ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger"><ion-icon name="eye-off-outline" slot="icon-only"></ion-icon></ion-button>
    </ion-buttons>
    <ion-item> <span slot="end">V.0.0.1</span> </ion-item>
  </ion-toolbar>
</ion-footer>
