<ion-card *ngIf="ready">
  <ion-item>
    <!-- <ion-label position="floating"> Preguntas: </ion-label>
    <ion-badge slot="end">{{ selected }}</ion-badge>
    <ion-progress-bar color="primary" [value]="progress"></ion-progress-bar>
    <ion-range min="0" [max]="questionsLength" step="1" [value]="selected" snaps color="success" disabled>
      <ion-icon slot="start" size="small" color="dark" name="chevron-forward-circle"></ion-icon>
      <ion-icon slot="end" color="dark" name="checkmark-done"></ion-icon>
    </ion-range> -->
  </ion-item>
  <ion-card-header>
    <ion-card-title class="title text-center">{{ questions[selected].pregunta }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-radio-group (ionChange)="respuestaSelected($event)">
        <ion-list-header> <ion-label>Selecciona una respuesta</ion-label> </ion-list-header>
        <ion-item *ngFor="let r of questions[selected].respuestas; let i = index" class="pregunta item-text-wra" expandable>
          <ion-thumbnail slot="end" *ngIf="questions[selected].foto && questions[selected].foto.length >= 2">
            <ion-img [src]="questions[selected].foto[i]"></ion-img>
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">{{ r }}</ion-label>
          <ion-radio slot="start" [value]="i" color="primary"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-item>
      <ion-button expand="block" color="success" (click)="next()">
        <ion-icon slot="start" name="checkmark-done-outline"></ion-icon>
        {{ textoBtn.msg }}
      </ion-button>
    </ion-item>
  </ion-card-content>
  <p>selected: {{ selected }}</p>
  <p>length: {{ questionsLength }}</p>
</ion-card>
